# Gitignore for frontend directory
/frontend/node_modules/


# production
/frontend/build/

/frontend/.env


# IDE files
/frontend/.idea/
/frontend/.vscode/
/frontend/*.sublime-*

# cache
/frontend/.eslintcache
/frontend/.cache/


